# Assignment_1

#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

    values     :- 'hello' ,  87.8 ,  6 
    expression :- * , - , / , +

#### 2. What is the difference between string and variable?

    A Variable is a store of information, and a String is a type of information you would store in a Variable.

#### 3. Describe three different data types.

    There are 3 type data type 
    * int
    * float
    * complex
    int data type: We can use int data type to represent whole numbers (integral values)
    
    float data type: We can use float data type to represent floating point values (decimal values)
    
    complex data type: Complex number is represented by complex class. It is specified as 
    1. real part
    2. imaginary part as j.

#### 4. What is an expression made up of? What do all expressions do?

    An expression is a construct made up of variables, operators, and values, which are constructed according to the syntax of the language, that evaluates to a single value.

    For example:-
             23+21*9/4
             -70.25

####    5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

    An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.
    
    A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

    ex. 
        23+21*9/4 -: is a expression
        a= "this is a string" -: statment

#### 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

    In first line, bacon is a variable and 22 is value stored in it and in second line, bacon which contains the value 22 and  + 1 = 23

#### 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

    both two terms value will come 'spamspamspam'

In [19]:
print ('spam' + 'spamspam')

print ('spam' * 3)

spamspamspam
spamspamspam

#### 8. Why is eggs a valid variable name while 100 is invalid?

    As per Python rules,
    1. Variable name must start with a letter or the underscore character.
    2.Variable name cannot start with a number.
    3.Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
    4.Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
    5.The reserved words(keywords) cannot be used naming the variable.

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

    The three function are-:
            int()
            float()
            str()

In [22]:
#ex. 
print (int(10.0))
print (float(12))
print (str("Shivanshu123"))

10
12.0
Shivanshu123

#### 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

    'I have eaten ' + 99 + ' burritos.'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
C:\Users\$HREEN~1\AppData\Local\Temp/ipykernel_6460/1774935878.py in <module>
----> 1 'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

    typeerror in which we cannot concat int and str to solve it we convert 99 in string

In [24]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'